<template>
  <div class="wrapper">
    <FormulateForm
      name="data"
      v-model="formValues"
      @submit="handleSubmit"
      class="fancy-border"
    >
      <FormulateInput
        name="nama"
        label="Nama"
        placeholder="Masukan Nama Anda"
        validation="bail|required|alpha:latin"
        class="content"
      />
      <FormulateInput
        name="nik"
        label="NIK"
        placeholder="Masukan Nomer KTP Anda"
        validation="bail|required|number"
      />
      <FormulateInput
        name="nomerKartuKeluarga"
        label="Nomer Kartu Keluarga"
        placeholder="Masukan Nomer Kartu Keluarga Anda"
        validation="bail|required|number"
      />
      <FormulateInput
        name="umur"
        label="Umur"
        placeholder="Masukan Umur Anda Saat Ini"
        validation="bail|required|number|min:25"
        :validation-messages="{
          min: 'Form Bantuan Sosial Ini Hanya Bisa Di Akses Oleh Pengguna Dengan Umur Minimal 25 Tahun',
        }"
      />
      <FormulateInput
        @validation="sizeIsValidForKtp"
        type="image"
        name="photoKtp"
        upload-url="/your/upload/directory"
        upload-behavior="delayed"
        label="Upload photo ktp anda"
        help="Pilih tipe file jpg atau png untuk upload"
        validation="required|mime:image/jpeg,image/png|ktpSize"
        :validation-rules="{
          ktpSize: () => this.sizeValidator.photoKtp <= 2000000,
        }"
        :validation-messages="{
          ktpSize: 'File Ukuran File Tidak Boleh Melebihi Dari 2MB',
        }"
      />
      <FormulateInput
        @validation="sizeIsValidForKk"
        type="image"
        name="photoKartuKeluarga"
        upload-url="/your/upload/directory"
        upload-behavior="delayed"
        label="Upload photo kartu keluarga anda"
        help="Pilih tipe file jpg atau png untuk upload"
        validation="required|mime:image/jpeg,image/png|kkSize"
        :validation-rules="{
          kkSize: () => this.sizeValidator.photoKeluarga <= 2000000,
        }"
        :validation-messages="{
          kkSize: 'File Ukuran File Tidak Boleh Melebihi Dari 2MB',
        }"
      />

      <FormulateInput
        name="jenisKelamin"
        :options="{ lakiLaki: 'Laki-laki', perempuan: 'Perempuan' }"
        type="select"
        placeholder="Pilih Jenis Kelamin Anda"
        label="Pilih Jenis Kelamin"
        validation="required:trim"
        class="custom_select"
      />
      <FormulateInput
        name="alamat"
        label="Alamat Saat Ini"
        placeholder="Masukan Alamat Tempat Tinggal Anda Saat Ini"
        validation="bail|required|max:255,length"
        :validation-messages="{
          max: 'Tulisan Maksimal Hanya 255 Karakter Saja',
        }"
      />
      <FormulateInput
        name="rt"
        label="RT"
        placeholder="Masukan RT Tempat Tinggal Anda Saat Ini"
        validation="bail|required|alphanumeric"
        :validation-messages="{
          alphanumeric:
            'Kolom Ini Hanya Boleh Ber Isi Kombinasi Huruf Dan Angka',
        }"
      />
      <FormulateInput
        name="rw"
        label="RW"
        placeholder="Masukan RW Tempat Tinggal Anda Saat Ini"
        validation="bail|required|alphanumeric"
        :validation-messages="{
          alphanumeric:
            'Kolom Ini Hanya Boleh Ber Isi Kombinasi Huruf Dan Angka',
        }"
      />
      <FormulateInput
        name="penghasilanSebelum"
        label="Penghasilan Sebelum Pandemi"
        placeholder="Masukan Penghasilan Sebelum Pandemi"
        validation="bail|required|number"
      />
      <FormulateInput
        name="penghasilanSetelah"
        label="Penghasilan Setelah Pandemi"
        placeholder="Masukan Penghasilan Setelah Pandemi"
        validation="bail|required|number"
      />
      <FormulateInput
        type="select"
        name="alasan"
        placeholder="Pilihan Alasan"
        label="Alasan membutuhkan bantuan"
        :options="{
          alasan1: 'Kehilangan pekerjaan',
          alasan2: 'Kepala keluarga terdampak atau korban Covid',
          alasan3: 'Tergolong fakir/miskin semenjak sebelum Covid',
          alasan4: 'lainnya (Jelaskan Dengan Singkat Dibawah Ini)',
        }"
        validation="required"
        class="custom_select"
      />
      <FormulateInput
        v-if="formValues.alasan === 'alasan4'"
        type="textarea"
        key="alasan4"
        name="alasanLainnya"
        help="Silahkan Tekan Mouse Dan Tarik Kebawah Jika Area Text Dirasa Kurang"
        label="Alasan membutuhkan bantuan"
        validation="required"
      />
      <FormulateInput
        type="checkbox"
        name="acceptTerms"
        label="Saya menyatakan bahwa data yang diisikan adalah benar dan siap mempertanggungjawabkan apabila ditemukan ketidaksesuaian dalam data tersebut."
        validation="accepted"
        :validation-messages="{
          accepted: 'Mohon Di Centang Jika Data Yang Anda Input Sudah Benar',
        }"
      />
      <FormulateInput type="submit" label="Daftarkan Bantuan" />
    </FormulateForm>
  </div>
</template>

<script>
export default {
  name: 'FormBansos',
  data() {
    return {
      formValues: {
        nama: '',
        nik: '',
        nomerKartuKeluarga: '',
        umur: '',
        photoKtp: '',
        photoKartuKeluarga: '',
        jenisKelamin: '',
        alamat: '',
        rt: '',
        rw: '',
        penghasilanSebelum: '',
        penghasilanSetelah: '',
        alasan: '',
        acceptTerms: '',
      },
      sizeValidator: { photoKeluarga: '', photoKtp: '' },
    };
  },
  methods: {
    async sizeIsValidForKk() {
      try {
        let sizeFile = await this.formValues.photoKartuKeluarga.files[0].file
          .size;
        return (this.sizeValidator.photoKeluarga = sizeFile);
      } catch (err) {
        setTimeout(function () {
          console.error(err);
        }, 200000);
      }
    },
    async sizeIsValidForKtp() {
      try {
        let sizeFile = await this.formValues.photoKtp.files[0].file.size;
        return (this.sizeValidator.photoKtp = sizeFile);
      } catch (err) {
        setTimeout(function () {
          console.error(err);
        }, 200000);
      }
    },

    printValue() {
      for (var member in this.formValues) console.log(this.formValues[member]);
      console.log(this.formValues);
      console.log(
        `PhotoKtp : ${JSON.stringify(this.formValues.photoKtp.files[0].name)}`
      );
      console.log(
        `Photo Kartu Keluarga : ${JSON.stringify(
          this.formValues.photoKartuKeluarga.files[0].name
        )}`
      );
    },

    cleanForm() {
      window.location.reload();
    },
    handleSubmit() {
      this.printValue();
      let generator = Math.floor(Math.random() * 10);
      if (generator > 4) {
        alert('Data berhasil di input');
        this.cleanForm();
      } else {
        alert('Maaf Server Sedang Sibuk Saat ini Silahkan Input Kembali');
      }
      setTimeout(function () {
        this.handleSubmit();
      }, 1500);
    },
  },
};
</script>
<style scoped>
.wrapper {
  max-width: 550px;
  width: 100%;
  margin: 20px auto;
  padding: 30px 0 30px 0;
}

.wrapper .fancy-border {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  border-top: 14px solid transparent;

  border-image: linear-gradient(
      to right,
      #16a75c 35%,
      #ffd026 25%,
      #ffd026 65%,
      #1e88e5 35%
    )
    5;
  width: 100%;
  background: #fff;
  margin: 24px auto;
  padding: 30px;
}
.wrapper .form .inputfield .custom_select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
}
</style>
