<template>
  <div id="app">
    <FormBansos />

    <!-- <FormulateForm v-model="uploads">
      <FormulateInput type="text" name="name" />
      <FormulateInput name="photo" type="image" upload-behavior="delayed" />
    </FormulateForm> -->
  </div>
</template>

<script>
import FormBansos from './components/FormBansos';
//  import { stringify } from 'flatted';

export default {
  name: 'App',
  components: { FormBansos },
  // data: () => ({
  //   uploads: {},
  // }),
};
</script>

<style scoped>
* {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #e5e5e5;
}
</style>
